<%= form_with(model: flight, local: true) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :flight_number %>
    <%= form.text_area :flight_number %>
  </div>

  <div class="field">
    <%= form.label :from %>
    <%= form.text_area :from %>
  </div>

  <div class="field">
    <%= form.label :to %>
    <%= form.text_area :to %>
  </div>

  <div class="field">
    <%= form.label :plane_type %>
    <%= form.number_field :plane_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
