<!DOCTYPE html>
<html>
  <head>
    <title>AirlineServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "Planes", "/airplanes"%></li>
        <li><%= link_to "Flights", "/flights"%></li>
        <li><%= link_to "Search", "/search"%></li>
        <li><%= link_to "Admin", "/users"%></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
